/* navbar */
.nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
.primary-text{
    display: flex;
    gap: 20px;
    color:  #525258;
font-family: Mulish;
font-size: 18px;

font-weight: 400;

}
.Trip{
    color: #FF5400;
font-family: Mulish;
font-size: 36px;

font-weight: 800;

}
.Tunes{
    color: #131318;
font-family: Mulish;
font-size: 36px;

font-weight: 800;

}



/* banner section */
.banner{
    text-align: center;
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 4rem;
   
    border-radius: 16px;  
    

    
}
.overlay{
    
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
     margin: 0 0.1rem;
     

     min-height: 80vh;
    
}
.middle-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.banner-heading{
     
    color: #FFF;
font-family: Mulish;
font-size: 64px;

font-weight: 800;

}


.banner-text{
    gap: 20px;
    color:  #c9c9e0;
font-family: Mulish;
font-size: 18px;


}


.button{
    border-radius: 8px;
background: #FFF;
width: 150px;
height: 50px;
border: 0;


}
.button2{
    border-radius: 8px;
background: #FF5400;
border: 0;
width: 150px;
height: 50px;

}
.box{
    border: 1px solid whitesmoke;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
width: 50vw;
height: 10vh;
border: 0;


} 

/* our plan */

.our-plan{

display: flex;
justify-content: space-around;
margin-top: 50px;

}
.plan-heading{
    color: #131318;

font-family: Mulish;
font-size: 40px;

font-weight: 800;

}

.plan-text{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;

font-weight: 400;
width: 300px;

}


/* choose destination */
.destination{
    color: #131318;

font-family: Mulish;
font-size: 40px;
font-weight: 800;

}


.destination-description{
    color: rgba(19, 19, 24, 0.70);

font-family: Mulish;
font-size: 16px;
font-weight: 400;

}
.destination-text{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

.img{
    height: 100%;
    width: 100%;
}
.row{
    display: flex;
    margin: 0 80px;
    gap: 15px;
    
}

.row2{
    display: flex;
    margin: 0 80px;
    gap: 15px;
    margin-top: 20px;
}

.row3{
    display: flex;
    margin: 0 80px;
    gap: 15px;
    margin-top: 20px; 
}



/* why choose us */


.us-box1{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
padding: 30px;
width: 520px;
}

.us-box2{
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding: 30px;
width: 520px;
}

.us-box3{
    border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
align-items: center;
width: 520px;
padding: 30px;
}

.BOX{
    display: flex;
    justify-content: space-around;
}
.BOX2{
    padding-left: 380px;
    margin-top: 50px;
}


.choose-text{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}






































/* responsive */
/* mobile device */

@media screen  and (max-width: 600px) {
    .overlay{
    min-height: 80vh;

    
    }
.banner-heading{
    color: #FFF;
font-family: Mulish;
font-size: 22px;

font-weight: 800;

}

.box{
    border: 1px solid whitesmoke;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
width: 50vw;
height: 40vh;
border: 0;


}
.button , .button2{
    
}


.our-plan{
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}


.row , .row2 , .row3{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;



}

.img3{
 padding-left: 130px;
}
.img4{
    padding-left: 70px;
}
.img5{
    padding-left: 170px;
    transform: scaleX(1.5)
    
}
.img6{
    padding-left: 60px ;
}

.img7{
    transform: scaleX(0.9);
    

margin: 0 10px;
}


.BOX{
    flex-direction: column;
}
.BOX2{
    margin: 10px  -375px;
   
}

}





